<h1><%=@article.title%></h1>
<p>
    <h4>Tags</h4>
    <%@article.tags.each do |tag|%>
        <%=link_to tag.name, tag_path(tag)%>
    <%end%>
</p><br/>
<p><%=@article.body%></h1>
<p>Author: <%=@article.author%></h1>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<p><%= link_to '<< Go back to articles', articles_path %></p>
<%= link_to "edit", edit_article_path(@article) %>
<p><%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %></p>
